@font-face {
    font-family: 'pragmatica';
    src: url('../fonts/pragmatica-light.eot');
    src: url('../fonts/pragmatica-light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pragmatica-light.woff') format('woff'),
      url('../fonts/pragmatica-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'pragmatica';
    src: url('../fonts/pragmatica-book.eot');
    src: url('../fonts/pragmatica-book.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pragmatica-book.woff') format('woff'),
      url('../fonts/pragmatica-book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'pragmatica';
    src: url('../fonts/pragmatica-medium.eot');
    src: url('../fonts/pragmatica-medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pragmatica-medium.woff') format('woff'),
      url('../fonts/pragmatica-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'pragmatica';
    src: url('../fonts/pragmatica-bold.eot');
    src: url('../fonts/pragmatica-bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/pragmatica-bold.woff') format('woff'),
      url('../fonts/pragmatica-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: 'pragmatica', arial;
    padding-right: 0px !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*             HEADER             */
.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    color: #fff;
    width: 100%;
    /*padding-top: 35px;
    padding-left: 60px;
    padding-right: 60px;*/

    /* width: 1260px; */

    font-weight: 700;
}

.header .container-fluid{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 35px;
}

.header__logo{
    float: left;
    width: 160px;
    margin-right: 20px;
}

.header__navigation{
    /*float: left;*/
}

.navigation__navigation-list{
    padding: 0;
    margin: 0;
}

.navigation-list__button{
    float: left;
    display: block;
    padding: 11px 20px 9px;
    margin-top: 6px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    border: solid 2px rgba(0, 0, 0, 0);
    cursor: pointer;
}
a .navigation-list__button{
    text-decoration: none;
    color: #fff;
}
.navigation-list__button:hover{
    border: solid 2px #fff;
}

.navigation-list__button.active{
    border: solid 1px #fff;
}

.header__cart{
    float: right;
    margin-top: 10px;
}

.header__mobile-menu {
    float: right;
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.header__mobile-menu .btn-menu-toggle {
  position: relative;
  display: block;
  width: 30px;
  height: 23px;
  margin: 15px auto 0;
  border-top: 3px solid #fff;
}

.btn-menu-toggle:before,
.btn-menu-toggle:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: #fff;
}

.btn-menu-toggle:before {
  top: 7px;
}

.btn-menu-toggle:after {
  bottom: 0;
}

.btn{
    font-size: 18px;
}

.btn-icon-menu{
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    cursor: pointer;
}

.mobile-menu{
    font-size: 20px;
}

.header__cart .glyphicon.glyphicon-shopping-cart{
    background: #F48D08;
    color: #fff;
    border-radius: 50%;
}

.header__cart .glyphicon.glyphicon-shopping-cart:hover{
    position: relative;
    left: -1px;
    top: -1px;
    -webkit-box-shadow: 1px 1px 0px 0px #000;
    box-shadow: 1px 1px 0px 0px #000;
}

.header__cart .glyphicon.glyphicon-shopping-cart:active{
    left: 0px;
    top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header__phone{
    float: right;
    font-size: 20px;
    line-height: 20px;
    margin-top: 19px;
    margin-right: 53px;
}


/*               FOOTER             */
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    /*padding-bottom: 35px;
    padding-left: 60px;
    padding-right: 60px;*/

    width: 100%;

    /* width: 1260px */
}

.footer .container-fluid{
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 35px;
}

.footer__arrow{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 30px;
    cursor: pointer;
}

.footer__arrow:hover img{
    /*position: absolute;*/
    -webkit-animation-name: arrow-up-down;
         -o-animation-name: arrow-up-down;
            animation-name: arrow-up-down;
    -webkit-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
         -o-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@keyframes arrow-up-down {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes arrow-up-down {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
    }
}

/*            social botton          */
.social-panel{
    /* margin-bottom: 25px; */
    margin-top: 10px;
    font-size: 0;
    width: 135px
    /*float: left;*/
    /*position: absolute;*/
}

.social-panel__social-btn{
    display: inline-block;
    background: #fff;
    color: #3a3a39;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    font-size: 18px;
    /*margin-right: 4px;*/
    cursor: pointer;
}

.social-panel__social-btn:hover{
    position: relative;
    left: -1px;
    top: -1px;
    -webkit-box-shadow: 1px 1px 0px 0px #000;
    box-shadow: 1px 1px 0px 0px #000;
}
.social-panel__social-btn:active{
    left: 0px;
    top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.social-panel__social-btn.icon-vk:before{
    margin-left: 0px;
}

/*  заказ  */
.order{
    /*float: right;*/
    margin-bottom: 5px;
    width: 660px;
}

.order.in-modal{
    width: 240px;
}

.order__select-count{
    /*width: 385px;*/
    float: left;
}

.order__cost{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin: 0 31px;
    margin-top: 15px;
}

.order.in-modal .order__cost{
    margin: 20px auto;
    width: 100%;
}

.order__order-btn{
    color: #fff;
    float: left;
    padding: 15px 0px;
    width: 240px;
    border-radius: 0px;
    border: solid 2px #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.3);
}

.order__order-btn:hover{
    color: #fff;
}

.select-count__label{
    color: #fff;
    margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
}

.order.in-modal .select-count__label{
    width: 100%;
    margin: 15px 0px;
}

.select-count__selector{
    /*color: #fff;
    width: 240px;
    float: right;
    border-radius: 0px;
    border: solid 2px #fff;
    background: rgba(255, 255, 255, 0.3);

    padding: 15px 21px;
    height: inherit;*/
}

select.select-count__selector > option{
    background: rgba(255, 255, 255, 0.3);
    color: #000;
}

.form-group{
    margin-bottom: 0px;
}

/* formstyler  */

.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: right;
	width: 240px;
	height: 58px;
	padding: 0;
	border-radius: 0px;
	border: solid 2px #fff;
	background: rgba(255, 255, 255, 0.3);
}

.jq-selectbox__select {
	padding: 15px 21px 14px;
}

.jq-selectbox__select-text {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
	color: #fff
}

.jq-selectbox .placeholder {
	color: #fff;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 19px;
	right: 17px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 17px 10px 0 10px;
	border-color: #fff transparent transparent transparent;
}

.jq-selectbox__dropdown {
	box-sizing: border-box;
  z-index: 100;
	left: -2px;
	right: -2px;
	padding: 0;
  background: rgba(0, 0, 0, 0.9);
	border: 2px solid #fff;
	font: 14px/18px Arial, sans-serif;
}

.select-up .jq-selectbox__dropdown {
	bottom: 60px !important;
	background: rgba(255, 255, 255, 0.3);
}

.jq-selectbox ul {
	margin: 0;
	padding: 0;
}

.jq-selectbox li {
	min-height: 18px;
	padding: 15px 10px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	white-space: nowrap;
	font-size: 18px;
	color: #fff;
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	transition: all .1s;
}

.jq-selectbox li:hover {
	background-color: #fff;
	color: #000;
}

/* bgfullpage slids  */

.slide-bg{
    overflow: hidden;
    background-size: cover !important;
    background-position-x: center !important;
}

.bg-title__slide{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}



/* content fullpage slide */
.content-slide{
    color: #fff;
    margin: 0 60px;
    padding: 0 80px;
}

.content-slide__header-slide{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.2;
    margin: 0;
}

.content-slide__title{
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
}
.content-slide__title_slider{
    position:relative;
    width:100%;
    height: 125px;
    overflow:hidden;
}
.content-slide__title.title-slide{
    position:absolute;
    right:0;
}

.content-slide__description{
    font-size: 18px;
    font-weight: 300;
}

/*  blog   */
.blog{
    /*max-width: 750px;
    margin-left: 60px;*/
    margin-top: 50px;
}

/*  fullpage nav   */
#fp-nav{
    /*top: 160px;*/
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span{
    background-color: #F48D08;
    border: 2px solid #F48D08;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
    background-color: #fff;
}

#fp-nav ul li a span{
    background-color: transparent;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    margin: -6px 0 0 -6px;
}

#fp-nav ul li:hover a span{
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
}

#fp-nav ul li{
    margin: 15px 7px;
}


/* modal menu */
.modal-dialog{
    height: 95%;
}
.modal-header{
    border: none;
}
.close-btn{
    color: #fff;
    font-size: 50px;
    text-shadow: none;
    opacity: 1;
    font-weight: normal;
}
.close-btn:hover{
    color: #fff;
    opacity: 1;
}
.moda-menu{
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
}
.modal-menu__phone{
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.modal-nav{
    text-align: center;
    width: 250px;
    margin: 0 auto;
}
.modal-nav .navigation-list__button{
    width: 283px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center;
}
.modal-backdrop.in{
    opacity: 0.85;
}
.social-panel_modal{
    width: 120px;
}
.fixed-social{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

/* бутылка  */
.bootle {
    width: 420px;
    position: absolute;
    top: -70px;
    right: 0px;
}

.bootle-reviews{
    width: 100%;
    position: fixed;
    width: 30%;
    top: 15%;
}

/* отзывы */
.description__concret-recall{
    font-size: 18px;
    font-weight: 300;
}

/* кнопка отзывы  */
.btn-reviews-panel{
    position: absolute;
    left: 0;
    bottom: 20%;
}
.btn-reviews{
    display: block;
    text-transform: uppercase;
    color: #000;
    background: #fff;
    border-radius: 20px;
    padding: 10px 10px;
    width: 190px;
    margin: 0 auto;
    /*margin-bottom: 20px;*/
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

.btn-reviews:hover{
    position: relative;
    left: -1px;
    top: -1px;
    -webkit-box-shadow: 1px 1px 0px 0px #000;
    box-shadow: 1px 1px 0px 0px #000;
    text-decoration: none;
    color: #000;
}
.btn-reviews:active{
    left: 0px;
    top: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*        слайдер на странице           */
.slider-wrap{
    position: relative;
}
.slide-btn{
    position: absolute;
    top: 35%;
    width: 80px;
    cursor: pointer;
}
.slide-btn:hover img{
    position: relative;
    left: -1px;
    top: -1px;

    -webkit-box-shadow: 1px 1px 0 0 #000;
    box-shadow: 1px 1px 0 0 #000;
}

.slide-btn:active img{
    left: 0px;
    top: 0px;

    -webkit-box-shadow: none;
    box-shadow: none;
}

.slide-btn span{
    font-size: 16px;
    font-weight: 300;
}

.prew-slide-btn{
    left: -80px;
}
.next-slide-btn{
    right: -80px;
}
.small-slide-btn-panel{
    float: left;
    width: 15%;
    min-width: 100px;
    margin-right: 20px;
}
.small-btn{
    cursor: pointer;
}
.small-btn:hover img{
    position: relative;
    left: -1px;
    top: -1px;

    -webkit-box-shadow: 1px 1px 0 0 #000;
    box-shadow: 1px 1px 0 0 #000;
}
.small-btn:active img{
    left: 0px;
    top: 0px;

    -webkit-box-shadow: none;
    box-shadow: none;
}
.small-btn__left{
    float: left;
}
.small-btn__right{
    float: right;
}

img.small-img-slide-btn{
    width: 40px;
    height: 40px;
}


/*            состав                 */
.composition-container{
    padding: 0;
    margin: 0 -140px;
}
.composition{
    position: relative;
    /*float: left;*/
}
.composition-header{
    position: relative;
    display: block;
    width: 150px;
    height: 100px;
    line-height: 145px;
    margin: 0 auto;
}

.composition-header-extra-small{
    position: relative;
    display: block;
    width: 125px;
    height: 195px;
    line-height: 195px;
    margin: 0 auto;
}

.composit__img{
    -webkit-box-shadow: 0px 0px 15px 0px #000;
    box-shadow: 0px 0px 15px 0px #000;
}
.composit__name{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    margin-top: 5px;
}
.composition-mid{
    width: 145px;
}
.composition-sml{
    width: 110px;
}
.composition-description{
    width: 400px;
    position: absolute;
    /*display: none;*/
    z-index: 1050;
    /*top: 30px;*/
}
.composition-sm-md .composition-description{
    width: 300px;
}
.composition-xs .composition-description{
    width: 230px;
}

.composition-description .composition-description__content{
    width: 100%;
    padding: 17px 20px;
    color: #000;
    background: #fff;
}
.composition-description__content h1{
    text-transform: uppercase;
    font-size: 13px;
    margin: 5px 0px;
    font-weight: bold;
}

.composition-description .composition-description__close{
    float: right;
    background: #fff;
    color: #000;
    width: 30px;
    height: 20px;
    text-align: center;
    position: relative;
    top: -20px;
    cursor: pointer;
}
.composition-description__close:hover{
    font-weight: bold;
}

.extra-small-wrap{
    width: 260px;
}
.comp-img-xs{
    position: relative;
    left: -7px;
}
.col-xs-ht{
    height: 105px;
}
.col-xs-chain-ht{
    height: 107px;
}
.chain-xs{
    position: relative;
    left: -15px;
}

/*   цепочки   */
.chain-top{
    position: absolute;
    /* width: 90px; */
    top: -55%;
    left: 4px;
    left: 4px;
}

/*   зачем нужен     */
.why-need-block{
    margin-top: 25px;
}
.icon-why-need{
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
}

.why-need-description{
    font-size: 14px;
    font-weight: 300;
}
.why-need-item{
    margin-bottom: 7px;
    font-size: 18px;
    font-weight: 600;
}

/* fold */
.uc-single, .uc-final-wrapper, .uc-initial-content, .uc-back, .uc-front{
    /*background: none;*/
}

.uc-container{
    /*height: 100%;*/
    width: 200px;
    position: absolute;
    display: none;
}

.composition-sm-md .uc-container{
    width: 150px;
}

.composition-xs .uc-container{
    width: 115px;
}

.overlay-composition{
    width: 100%;
    height: 100%;
    /*background: #fff;*/
}

/*        мнение специалиста         */
.header-opinion{
    position: relative;
    top: -40px;
}

.opinion__specialist h2{
    font-size: 27px;
    font-weight: 500;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 30px;
}
.description__concret-opinion p{
    font-weight: 300;
    font-size: 18px;
}

/************* MEDIA QUERY **************/
/* MEDIUM DEVICE */
@media (max-width: 1200px){
    /*.header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer{
        padding-left: 20px;
        padding-right: 20px;
    }*/
    .header .container-fluid{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
    }
    .footer .container-fluid{
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
    .content-slide{
        padding: 0;
    }
    .content-slide__header-slide{
        font-size: 50px;
    }
    .why-need-align{
        text-align: left;
    }
    .why-need h4{
        margin-top: 5px;
    }

    .onpage-padding{
        padding: 0 80px;
    }

    .btn-reviews-panel{
        bottom: 13%;
    }
}
/* SMALL DEVICE */
@media (max-width: 991px){
    .content-slide__header-slide{
        font-size: 40px;
    }

    .content-slide{
        padding: 0 0;
    }

    .order{
        width: 240px;
    }

    .why-need-align{
        text-align: center;
    }

    .header-opinion{
        position: initial;
        top: 0;
    }

    .bootle {
      width: 321px;
      right: auto;
      left: -140px;
      top: -45px;
    }
}
/* EXTRA-SMALL DEVICE */
@media (max-width: 767px){

    .padding-xs-section{
        padding: 80px 0;
    }

    .content-slide__header-slide{
        font-size: 32px;
    }
    .content-slide__title{
        font-size: 18px;
    }
    .content-slide__description{
        font-size: 14px;
    }
    .content-slide{
        margin: 0;
    }
    .right-text-xs{
    text-align: right;
    }

    .composit__img{
        width: 100px;
        height: 100px;
    }
    .composit__name{
        font-size: 14px;
    }
    .why-need h4{
        margin-top: 10px;
        font-size: 12px;
        font-weight: bold;
    }

    .marg-xs-spec{
        margin-top: 14px;
    }
    .opinion__specialist h2{
        font-size: 16px;
        text-align: right;
        margin: 5px 0px;
    }

    .opinion__qoute{
        width: 10px;
    }
    .opinion__qoute.left{
        margin-left: -15px !important;
    }

    .description__concret-opinion p{
        font-size: 14px;
    }

    .recall__name h2{
        font-size: 20px;
        text-align: right;
        margin: 5px 0px;
    }

    .description__concret-recall{
        font-size: 12px;
        text-align: right;
    }
    .blog{
        margin-top: 10px;
    }

    .btn-reviews-panel{
        position: relative;
    }
}


/* Other */

@media (max-width: 420px){
    .composit__img{
        width: 75px;
        height: 75px;
    }
    .composit__name{
        font-size: 11px;
    }
}

@media (min-width: 1440px){
    .col-xlg-offset-1{
        margin-left: 8.33333333%;
    }
    .col-xlg-10{
        width: 83.33333333%;
    }

    .description__concret-opinion p{
        font-size: 20px;
    }
    .opinion__specialist h2{
        font-size: 30px;
    }

    .why-need-description{
        font-size: 18px;
    }
}

@media (min-width: 1920px){
    .bootle{
        width: 560px;
        position: absolute;
        top: -260px;
        right: 40px;
    }
}

@media  screen and (max-width: 1280px) {
    .bootle-reviews{
        width: 35%;
        top: 20%;
    }
}

@media  screen and (max-width: 1280px) and (max-height: 800px){
    .bootle-reviews{
        width: 30%;
        top: 16%;
    }
}

@media (max-width: 920px){
    .hidden-arrow-down{
        display: none;
    }
}
